@charset "UTF-8";

/* 마커 */

.categorys{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

.category{
    width: 50px;
    cursor: pointer;
    font-size: 15px;
    color: #3d3d3d;
    background-color: #fff;
    border-radius: 15px;
    margin-left: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 3px;
    z-index: 2;
}

#text-search{
	width: 321px;
    cursor: pointer;
    font-size: 15px;
    color: #3d3d3d;
    background-color: #fff;
    border-radius: 30px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 10px 20px;
    border: transparent;
    outline: transparent;
    margin-bottom: 10px;
    z-index: 3;
}

#btn-search{
    width: 56px;
    cursor: pointer;
    font-size: 15px;
    color: #3d3d3d;
    font-weight: 600;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 3px;
    z-index: 3;
    border-radius: 30px;
    margin: 10px 0px;
    border: transparent;
    outline: transparent;
    z-index: 3;
}

#shiftMap{
	display: none;
	position: absolute;
    background-color: rgba( 0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    color:white;
    font-size:20px;
    top: 0;
}

#shiftMap > h2{
	margin: 0px auto;
}

/* 지도 */

</
style> <style>.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Noto Sans KR', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

.desc .market {
	overflow: hidden;
	text-overflow: market;
	white-space: nowrap;
}

.desc .time {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info .img:hover {
	cursor: pointer;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}

.home_question {
	position: relative;
	padding: 16px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fafafa url(../img/home/bg-home-contact.jpg) 50% 50% no-repeat;
	background-size: auto;
	background-size: cover;
}

.home_question::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
}

.home_question_wrap{
	position: relative;
}

.home_q_pre{
	margin: 0;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	letter-spacing: -.7px;
	text-align: center;   
	line-height: 1.5; 
	font-family: 'Noto Sans KR', sans-serif;
}

.home_q_ul{
	margin: 15px 0 0;
	padding: 0;
	list-style: none;
	text-align: center;
	line-height: 1.5;
}

.home_q_li{
	font-size: 15px;
	color: #fff;
	font-weight: 300;
	opacity: .75;
	}
	
.home_q_nav{
	margin: 30px 0 0;
}

.home_q_btn{
	font-size: 15px;
	font-weight: 600;
	display: block;
	margin: 0 auto;
	padding: 13px 0;
	width: 300px;
	background: #fff;
	color: #27b06e;
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title {
	padding: 5px 0 0 10px;
	height: 30px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	color: #3d3d3d;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
	line-height: 24px;
}

.desc .market {
	overflow: hidden;
	text-overflow: market;
	white-space: nowrap;
}

.market {
	font-size: 13px;
	font-weight: bold;
}

.desc .time {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 9px;
	left: 6px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background:
		url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}


#main {
	margin-top: 50px;
}

.contents{
	margin-top: 52px;
}

.swiper-container, .swiper-slide{
	height: 400px;
}

.rec_menu{
	padding: 40px 0 0;
}

.rec1 > h2{
	font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0;
}

.rec1 > p{
	margin-top: 8px;
    font-size: 15px;
    line-height: 16px;
    font-weight: 300;
    color: #6f7174;
    text-align: center;
}

.main_spot{
	padding: 0 30px;
    background: #27b06e;
}

.main_spot > div{
	max-width: 930px;
    margin: 0 auto;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ms_header > h2{
	color: white;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.ms_header > p{
	color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 15px;
    line-height: 20px;
}

.ms_nav > button{
	display: block;
    width: 190px;
    padding: 10px 0;
    background: none;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
    outline: none;
    user-select: none;
    cursor: pointer;
}

.main_deliver{
	padding: 56px 30px 72px;
}

.md_way{
	margin-top: 64px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.md_way > section{
	flex: 1;
}

.md_section > a{
	height: 324px;
    padding: 26px 19px;
    background-position: center bottom 32px;
    background-size: 179px 100px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    background-color: #fff;
    background-repeat: no-repeat;
    outline: none;
    user-select: none;
    cursor: pointer;
    color: #27b06e;
    text-decoration: none;
}

.md_sa > h2 , p, b{
	color: #3d3d3d;
}

.md_sa > em{
	border-bottom: 1px solid #27b06e;
	font-style: normal;
}

.md_sa > p{
    margin: 10px 0 0;
    font-size: 13px;
    font-weight: 400;
    color: #6f7174;
}

.md_sa > h2, b{
    margin-top: 12px;
    font-size: 17px;
    line-height: 22px;
}

.main_insata{
	padding: 48px 30px 122px;
}

.mi_div1{
    max-width: 1080px;
    margin: 0 auto;	
}

.mi_header{
	align-items: center;
	text-align: center;
}

.mi_header > em{
	font-style: normal;
	font-size: 16px;
	color: #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

.mi_header > h2{
	margin-top: 5px;
	color: #27b06e;
	font-weight: lighter;
}

.mi_header > p{
	color: #717171;
	font-weight: lighter;
	font-size: 16px;
	margin-bottom: 30px;
}

.mi_ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.mi_ul > li {	
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 9px;
    box-sizing: border-box;
    margin: 0!important;
	width: 200px;
	height: 200px;
}

.mi_a > img{
	width: 250px;
	height: 250px;
}


.modal-cart{
	content: "";
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,0.7);
    z-index: 1000;
    transition: opacity .3s ease;
}


.modal-cart-body{
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    transition: opacity .3s ease;
    width: 450px!important;
    height: auto!important;
    background: #fff!important;
    color: #3d3d3d;
}

.cart-body{
	position: relative;
    height: 100%;
    background-color: #fff;
    color: #3d3d3d;
}

.cart{
	padding-top: 92px;
	box-sizing: border-box;
	display: block;
	height: 100vh;
}

.cart-header{
	position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 54px;
    display: flex;
    align-items: center;
    background: #fff;
}

.ch-nav{
	display: flex;
    align-items: center;
}

.ch-nav > button{
	width: 54px;
    height: 54px;
    font-size: 15px;
    box-sizing: border-box;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-header > h2{
	margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: lighter;
}

.cart-div1{
	position: absolute;
    left: 0;
    right: 0;
    top: 54px;
    display: flex;
    align-items: center;
    margin: 0;
    height: 40px;
    padding: 0 16px;
    background: #27b06e;
}

.cart-div1 > span{
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

.cart-div2{
	display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 94px;
    bottom: 230px;
    overflow: auto;
    box-sizing: border-box;
}

.cart-selectAll{
	padding: 0 16px;
	height: 48px;
	justify-content: space-between;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	margin: 0;
}

.btn-delAll{
	width: 100%;
    padding: 0 14px;
    height: 26px;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid #27b06e;
    color: #27b06e;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-delAll:hover{
	background-color: #27b06e;
	color: #fff;
}

hr{
	height: 1px;
    border-color: #e7e7e7;
    overflow: visible;
    box-sizing:content-box;
    background: #f4f5f6;
    border: none;
    margin: 0;
}

.cart-items{
	margin: 0;
    padding: 0 16px;
	list-style: none;
	display: block;
}

.cart-item{
	display: list-item;
    padding: 8px 0 15px;
}

.cart-item-body{
	display: block;
	margin: 15px 0 0;
}

.cart-row1{
	display: flex;
}

.cart-row1 > img{
	margin: 0;
    width: 48px;
    height: 48px;
}

.cart-col{
	margin-left: 16px;
	position: relative;
	width: 100%;
	flex: 1;
	display: grid;
	box-sizing: border-box;
}

.cart-col > strong{
	display: block;
    font-size: 14px;
    font-weight: 600;
}

.cart-col > span{
	display: block;
    margin: 6px 0 0;
    font-size: 12px;
    line-height: 12px;
    color: #98999b;
}

.cart-row2{
	display: flex;
    -webkit-box-pack: end;
	justify-content: flex-end;
}

.cart-row2 > div{
	margin-top: 20px;
}

.cart-nav{
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cart-result{
	width: 100%;
	background-color: #fff;
}

.cart-result-body{
	padding: 16px;
}

.cart-dl{
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	font-weight: 600;
	line-height: 27px;
}

.nav-button{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

.nav-more{
	background-color: transparent;
    color: #27b06e;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 1px solid #27b06e;
    outline: none;
    display: block;
    box-sizing: border-box;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
}

.nav-order{
	background-color: #27b06e;
    color: #fff;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 1px solid #27b06e;
    outline: none;
    display: block;
    box-sizing: border-box;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
}