@charset "UTF-8";

body {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

.container {
	padding: 150px 30px 100px 30px;
	margin: 0 auto;
}

.ms_menu {
	margin: 0 auto;
	margin-bottom: 50px;
	display: flex;
	background-origin: border-box;
	max-width: 1140px;
	box-sizing: border-box;
	display: flex;
}

.ms_menu img {
	width: 400px;
	height: 400px;
}

.ms_menuInfo {
	padding-left: 108px;
	width: 630px;
}

.ms_menuInfo > h2{
	margin: 0;
	font-size: 24px;
    line-height: 28px;
    color: #3d3d3d;
}

.ms_menuInfo > p{
	margin: 10px 0 5px 0;
    font-size: 15px;
    line-height: 20px;
    color: #6f7174;
}

#menuBasicPrice {
	margin: 0 0 0 1px;
    color: #6f7174;
}

.ms_menuInfo nav {
	display: flex;
	flex-wrap: wrap;
	margin-top: 16px;
	padding-top: 16px;
	border-top: 1px solid #e7e7e7;
}

.ms_menuInfo button {
	cursor: pointer;
	padding: 15px 60px;
	outline: transparent;
	border: transparent;
	background: #27b06e;
	color: #ffffff;
	font-size: 14.5px;
	font-weight: 600;
	width: 49%;
}

.ml_dd{
	margin: 10px 0; 
	display: flex;
}

input[id="cb1"] {
	-webkit-appearance: none;
    display: inline-block;
    width: 21px;
    height: 20px;
    background-color: #e7e7e7;
    cursor: pointer;
    border-radius: 50%;
}

input[id="cb1"]:checked {
	-webkit-appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 6px solid #e7e7e7;
    background-color: #27b06e;
    cursor: pointer;
    border-radius: 50%;
}

.ml_dt{
	 color: #3d3d3d;
	 font-weight: 600;
}

.option_div{
	width: 100%;
    margin: 0 0 0 5px;
    line-height: 24px;
    display: flex;
    color: #3d3d3d;
    justify-content: space-between;
}

.ml_opList {
	background-color: #f8f8f8;
	padding: 15px;
	font-size: 15px;
	letter-spacing: -.5px;
	font-weight: 500;
}

#ml_opListDel {
	cursor: pointer;
	float: right;
}

.ml_opSel_dl {
	margin: 0 20px;
}

input[type=radio].ml_radio{
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
	margin: -1px;
	padding: 0;
	border: 0;
}

.minus{
	font-size: 15px;
	background-color: #fff;
	color: #3d3d3d;
	border: 1px solid #c0c0c0;
	border-right: none;
	height: 27px;
	width: 30px;
	margin: 0;
	margin-right: 1px;
	z-index: 1;
}

.plus{
	font-size: 15px;
	color: #3d3d3d;
	background-color: #fff;
	border: 1px solid #c0c0c0;
	height: 27px;
	width: 30px;
	margin: 0;
}

.quantity{
	margin: 0 -5px;
	font-size: 15px;
	color: #3d3d3d;
	background-color: #fff;
	height: 23px;
	width: 30px;
	border: none;
	border-left: 1px solid #c0c0c0;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	text-align: center;
}

.quantityBar{
	min-width: 90px;
}

.quanClass{
	display: flex;
    color: #3d3d3d;
    justify-content: space-between;
    margin: 0 20px;
}

.quanClass > span {
    color: #3d3d3d;
    font-weight: 600;
}

@media screen and (max-width: 920px) {
	.none{
		margin-top: 5px;;
	}
}

@media screen and (max-width: 880px) {
	.ms_menu{
		display: grid;
	}

	.ms_menu > img{
		width: 100%;
		height: 100%;
	}

	.ms_menuInfo{
		padding: 0;
		width: 100%;
	}

}