@charset "UTF-8";

body{
    margin: 61px 0 0 50px;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif !important;
}

.menuAdd_box{
	padding: 5px;

}

.menuAdd_box input{
    box-sizing: border-box;
    padding: 0 15px;
    height: 38px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #e7e7e7;
    font-size: 15px;
    color: #3d3d3d;
    display: block;
}

#submit{
    display: block;
    border: none;
    height: 38px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    outline: none;
    margin-top: 8px;
    width: 50%;
    color: #ffffff;
    background-color: #27b06e;
}

input[type="file" i]{
    padding: 6px 0 0 6px;
    font-family: 'Noto Sans KR', sans-serif;
}

.category{
    font-size: 20px;
}

.c_box{
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
}

#addOption{
    cursor: pointer;
    margin-left: 5px;
    display: block;
    border: transparent;
    outline: transparent;
    background-color: transparent;
}

#delOption{
    cursor: pointer;
    margin-left: 5px;
    display: block;
    border: transparent;
    outline: transparent;
    background-color: transparent;
    }


#addCategory{
    display: block;
    border: none;
    height: 38px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    outline: none;
    width: 50%;
    color: #ffffff;
    background-color: #27b06e; 
}