body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.container{
    padding: 0 30px;
    margin: 0 auto;
    margin-top: 100px;
}

.ml_truck{
    margin: 0 auto;
    display: flex;
    background-origin: border-box;
    max-width: 1140px;
}

.ml_box1{
    display: flex;
    height: 500px;
}

.ml_truck img{
    width: 400px;
    height: 400px;
}

.ml_truckInfo{
    padding-left: 108px;
    width: 630px;
}