body{
    margin: 0;
    padding: 0;
}

.ml_container{
	padding: 107px 30px 15px;
}

.ml_container2{
	margin: 0px auto;
	width: 100%;
}

.ml_container2_h3{
	display: flex;
	margin: 0px auto;
	padding-bottom: 24px;
	padding-left: 20px;
	max-width: 1160px;
	font-size: 28px;
	color: #3d3d3d;
}

.ml_container2_ul{
	display: table;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 auto;
	max-width: 1160px;
	padding: 0px;
}

.ml_container2_li{
	box-sizing: border-box;
	padding: 5px;
	float: left;  
	/* width: 25%; */
}

.ml_container2_a{
	text-decoration: none;
	display: grid;
} 

.ml_container2_strong{
	color: #3d3d3d;
	margin: 7px 0;
} 

.ml_container2_span{
	color: #6f7174;
    height: 100px;
    text-overflow: clip;
    white-space: break-spaces;
    overflow: hidden;
    width: 280px;
} 

.ml_container2_span_open{
	color: #27b06e;
} 

.ml_container2_em{
	color: #27b06e;
} 

.ml_container2_img{
	/* width: 100%; */
	width: 280px;
	height: 280px;
	max-height: 280px;
	max-width: 280px;
	min-width: 150px;	
	min-height: 150px;\
}

.ml_con_i{
	
	width: 100%;
	max-height: 280px;
	max-width: 280px;
	min-width: 150px;	
	min-height: 150px;	
}

.ml_container2_em{
	border-radius: 10px;
    border: 1px solid rgb(245, 163, 35);
    font-size: 11px;
    letter-spacing: -0.3px;
    font-weight: 600;
    color: rgb(245, 163, 35);
    padding: 1px 5px;
    margin-right: 3px;
    margin-top: 3px;
    width: 48px;
    font-style: normal;
    text-align: center;
}

.ml_container2_span_open{
	border-radius: 10px;
    border: 1px solid #27b06e;
    font-size: 11px;
    letter-spacing: -0.3px;
    font-weight: 600;
    color: #27b06e;
    padding: 1px 5px;
    margin-top: 3px;
    width: 48px;
    font-style: normal;
    text-align: center;
    
    background-color: #ffffff;
}

.nav-paginate{
	text-align: center;
    color: #6f7174;
    margin: 30px 0 35px 0;
    font-size: 16px;
}



.on{
	color: #27b06e;
	font-weight: bold;
}










@media screen and (max-width: 1030px){
.ml_container {
	padding-top: 86px;
}

.ml_container2_li{
	box-sizing: border-box;
	padding: 7.5px 5px;  
	width: 50%;
	height: 100%;
}
	}
	
	
.wrap_img{
	position: relative;
}
	
.menuOpenInfo{
	position: absolute;
	right: 6px;
	top: 1px;
	
}	

input[id="cb1"] {
	-webkit-appearance: none;
    display: inline-block;
    width: 21px;
    height: 20px;
    background-color: #e7e7e7;
    cursor: pointer;
    border-radius: 50%;
}

input[id="cb1"]:checked {
	-webkit-appearance: none;
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 6px solid #e7e7e7;
    background-color: #27b06e;
    cursor: pointer;
    border-radius: 50%;
}

.ml_con_input{
	display: flex;
    margin: 0px auto;
    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 1160px;
    color: #3d3d3d;
}

#cb1{
	padding-right: 5px;	
}













