body{
    margin: 0;
    padding: 0;
}

.ml_container{
	padding: 107px 30px 15px;
}

.ml_container2{
	margin: 0px auto;
	width: 100%;
}

.ml_container2_h3{
	display: flex;
	margin: 0px auto;
	padding-bottom: 24px;
	padding-left: 20px;
	max-width: 1160px;
	font-size: 28px;
	color: #3d3d3d;
}

.ml_container2_ul{
	display: table;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 auto;
	max-width: 1160px;
	padding: 0px;
}

.ml_container2_li{
	box-sizing: border-box;
	padding: 5px;
	float: left;  
	/* width: 25%; */
}

.ml_container2_a{
	text-decoration: none;
	display: grid;
} 

.ml_container2_strong{
	color: #3d3d3d;
	margin: 7px 0;
} 

.ml_container2_span{
	color: #6f7174;
    height: 100px;
    text-overflow: clip;
    white-space: break-spaces;
    overflow: hidden;
    width: 280px;
} 

.ml_container2_span_open{
	color: #6f7174;
} 

.ml_container2_em{
	color: #27b06e;
} 

.ml_container2_img{
	/* width: 100%; */
	width: 280px;
	height: 280px;
	max-height: 280px;
	max-width: 280px;
	min-width: 150px;	
	min-height: 150px;	
}

.ml_con_i{
	
	width: 100%;
	max-height: 280px;
	max-width: 280px;
	min-width: 150px;	
	min-height: 150px;	
}

@media screen and (max-width: 1030px){
.ml_container {
	padding-top: 86px;
}

.ml_container2_li{
	box-sizing: border-box;
	padding: 5px;  
	width: 50%;
	height: 100%;
}
	}