@charset "UTF-8";

        body{
    margin: 0;
    padding: 0;
}

footer{
    padding: 24px 30px;
    background-color: #f4f5f6;
}

a{
    color: #6f7174;
    text-decoration: none;
}

.footer{
    margin: 0 330px;
}

.footer_menu{
    padding: 0;
    margin: 20px 0 5px 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.footer_logo img{
    display: block;
    margin: 0px auto;
    height: 16px;
}