<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.project.member.MemberDAO">
	
	<insert id="memberJoin" parameterType="MemberVO">
		INSERT INTO member VALUES(member_seq.nextval,#{id},#{email},#{password},#{name},#{age},
		#{gender},#{nickName},'local',#{phone},0,null,null,null,sysdate,sysdate,null)
	</insert>
	
	<select id="memberLogin" parameterType="MemberVO" resultType="MemberVO">
		SELECT * FROM member where id=#{id} and password=#{password} and deleteAt is not null
	</select>
	
	<select id="memberIdCheck" parameterType="MemberVO" resultType="MemberVO">
		select * from member where id=#{id} and deleteAt is not null
	</select>
	
	
	<update id="memberDelete" parameterType="MemberVO">
		update member set deleteAt=sysdate where id=#{id}
	</update>
	
	<update id="memberUpdate" parameterType="MemberVO">
		update member set password=#{password},name=#{name},phone=#{phone},nickname=#{nickName},updateAt=sysdate where id=#{id}
	</update>
	
	<update id="memberLocation" parameterType="MemberVO">
		update member set latitude=#{latitude},longitude=#{longitude} where id=#{id}
	</update>	
</mapper>