<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.project.menu.MenuDAO">

	<resultMap type="MenuVO" id="marketMenuResult">
		<id column="num" property="num"/>
		<result column="marketNum" property="marketNum"/>
		<result column="name" property="name"/>
		<result column="price" property="price"/>
		<result column="detail" property="detail"/>
		<result column="thumbImg" property="thumbImg"/>
		<result column="deleteAt" property="deleteAt"/>

		<collection property="categoryVOs" javaType="List" ofType="CategoryVO">
			<result column="cateName" property="name"/>
		</collection>	
	</resultMap>

	<select id="marketMenuList" parameterType="MenuVO" resultMap="marketMenuResult">
		select m.*,c.name cateName from
		(SELECT * FROM menu WHERE marketNum=#{marketNum} AND deleteAt IS NULL ) m 
		left join category c
		on(m.num = c.menuNum)
	</select>
	
	<select id="menuList" parameterType="MenuVO" resultType="MenuVO">
		SELECT * FROM menu WHERE marketNum=#{marketNum} AND deleteAt IS NULL
	</select>
	
	<select id="menuSelect" parameterType="MenuVO" resultType="MenuVO">
		SELECT * FROM menu WHERE num=#{num} AND deleteAt IS NULL
	</select>
	
	<select id="menuCount" resultType="Long">
		select menu_seq.nextval from dual
	</select>
	
	<insert id="menuAdd" parameterType="MenuVO">
		INSERT INTO menu VALUES(
		    #{num}, #{marketNum}, #{name}, #{price}, #{detail}, #{thumbImg}, null
		)
	</insert>
	
	<update id="menuUpdate" parameterType="MenuVO">
		UPDATE menu SET name=#{name}, price=#{price}, detail=#{detail}, thumbImg=#{thumbImg, jdbcType=VARCHAR} WHERE num=#{num} AND deleteAt IS NULL
	</update>
	
	<delete id="menuDelete" parameterType="MenuVO">
		UPDATE menu SET deleteAt=sysdate WHERE num=#{num} AND deleteAt IS NULL
	</delete>
</mapper>