<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.project.menuOption.MenuOptionDAO">

	<insert id="menuOptionInsert" parameterType="MenuOptionVO">
		INSERT INTO menuOption VALUES( 
			#{num}, #{categoryNum}, #{name}, #{price}
		)
	</insert>
	
	<select id="menuOptionList" parameterType="MenuOptionVO" resultType="MenuOptionVO">
		SELECT * FROM menuOption WHERE categoryNum = #{categoryNum}
	</select>
	
	<select id="menuOptionSelect" parameterType="MenuOptionVO" resultType="MenuOptionVO">
		SELECT * FROM menuOption WHERE num=#{num}
	</select>
	
	<select id="menuOptionCount" resultType="Long">
		SELECT menuOption_seq.nextval FROM dual
	</select>
	
	<update id="menuOptionUpdate" parameterType="MenuOptionVO">
		UPDATE menuOption SET name=#{name}, price=#{price} WHERE num=#{num}
	</update>
	
	<delete id="menuOptionDelete" parameterType="MenuOptionVO">
		DELETE FROM menuOption WHERE num = #{num}
	</delete>
	
</mapper>