<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.project.ordered.OrderedDAO">

	<select id="orderedCount" resultType="Long">
		select ordered_seq.nextval from dual
	</select>
	

	<select id="orderedList" parameterType="OrderedVO" resultType="OrderedVO">
		select j.*,m2.thumbImg as menuThumbImg, m2.name as menuName
		from
		(select o.num,o.menunum,o.memberNum,o.catemenuoptions, o.amount,m.marketname
		from ordered o join market m
		on(o.marketNum = m.num))j 
		join menu m2
		on(j.menuNum = m2.num)
		where j.memberNum = #{memberNum}
	</select>
	
	<select id="orderedSelect" parameterType="OrderedVO" resultType="OrderedVO">
		SELECT * FROM ordered WHERE num=#{num}
	</select>
	
	<insert id="orderedInsert" parameterType="OrderedVO">
		INSERT INTO ordered VALUES(
			#{num}, #{memberNum}, #{marketNum},#{menuNum},#{marketName},#{menuName},#{menuThumbImg}, #{cateMenuOptions, jdbcType=VARCHAR}, #{amount}, #{imp_uid, jdbcType=VARCHAR},
			#{merchant_uid}, #{pg, jdbcType=VARCHAR}, #{pay_method, jdbcType=VARCHAR}, #{cancleType}, 
			#{cancleDetail, jdbcType=VARCHAR},#{isOrderChecked}, #{timeLag},sysdate, null
		)
	</insert>
	
	<update id="orderedCancle" parameterType="OrderedVO">
		update ordered set cancleType=#{cancleType} where num=#{num}
	</update>
	
	<delete id="cartDeleteAll" parameterType="OrderedVO">
		delete from ordered where memberNum=#{memberNum}
	</delete>
	
	<delete id="orderDelete" parameterType="OrderedVO">
		DELETE FROM ordered WHERE num = #{num}
	</delete>
	
</mapper>