<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.project.ordered.OrderedDAO">

	<select id="orderedCount" resultType="Long">
		select ordered_seq.nextval from dual
	</select>

	<select id="orderedList" parameterType="OrderedVO" resultType="OrderedVO">
		SELECT * FROM ordered WHERE memberNum=#{memberNum}
	</select>
	
	<select id="orderedSelect" parameterType="OrderedVO" resultType="OrderedVO">
		SELECT * FROM ordered WHERE num=#{num}
	</select>
	
	<insert id="orderedInsert" parameterType="OrderedVO">
		INSERT INTO ordered VALUES(
			#{num}, #{memberNum}, #{menuNum}, #{cateMenuOptions}, amount, null, #{merchant_uid}, 
			#{pg}, #{pay_method}, #{cancleType}, #{cancleDetail}, #{isOrderChecked}, sysdate, null
		)
	</insert>
	
	<update id="orderedCancle" parameterType="OrderedVO">
		update ordered set cancleType=#{cancleType} where num=#{num}
	</update>
	
	<delete id="orderDelete" parameterType="OrderedVO">
		DELETE FROM ordered WHERE num = #{num}
	</delete>
	
</mapper>