<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.project.review.ReviewDAO">

	<select id="boardCount" parameterType="Pager" resultType="Long">
		select count(BoardNum) from review
	</select>

	<select id="baordList" parameterType="Pager" resultType="ReviewVO">
		select * from
		(select Q.*,rownum R from
		(select * from review
		order by ref desc, step asc) Q)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<insert id="boardInsert" parameterType="ReviewVO">
		<selectKey keyProperty="boardNum" order="BEFORE" resultType="Long">
			select board_seq.nextVal from dual
		</selectKey>
		insert into review values(#{boardNum},#{memberNum},#{marketNum},#{imageNum},#{contents},sysdate,
		#{boardNum},0,0)
	</insert>
	
	
	<update id="boardReplyUpdate" parameterType="ReviewVO">
		update review set
		step = step+1
		where ref=(select ref from review where boardNum=#{boardNum})
		and step > (select step from review where boardNum=#{boardNum})
		
	</update>
	
	<insert id="boardReply" parameterType="ReviewVO">
		insert into review values(board_seq.nextval,#{memberNum},#{marketNum},#{imageNum},#{contents},sysdate,
		(select ref from review where boardNum=#{boardNum}),
		(select step from review where boardNum=#{boardNum})+1,
		(select depth from review where boardNum=#{boardNum})+1
		)
	</insert>
	
	<delete id="boardDelete" parameterType="ReviewVO">
		delete from review where boardNum=#{boardNum}
	</delete>
	
	<update id="boardUpdate" parameterType="ReviewVO">
		update review set contents=#{contents},regDate=sysdate where boardNum=#{boardNum}
	</update>
	
</mapper>










