<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.project.review.ReviewDAO">
	
	<resultMap type="ReviewVO" id="reviewResult">
		<id column="boardNum" property="boardNum"/> 
		<result column="memberNum" property="memberNum"/>
		<result column="marketNum" property="marketNum"/>
		<result column="fileName" property="fileName"/>
		<result column="rating" property="rating"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="ref" property="ref"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		
		<association property="memberVO" javaType="MemberVO">
			<result column="nickName" property="nickName"/>
			<result column="email" property="email"/>
		</association>
	</resultMap>
	
	
	<select id="myReviewList" parameterType="Long" resultType="ReviewVO">
		select * from review where memberNum=#{memberNum}
	</select>

	<select id="marketAvg" parameterType="Long" resultType="Double">
		select avg(rating) from review where marketNum = #{marketNum}
	</select>
	
	<select id="marketReviewCount" parameterType="Long" resultType="Integer">
		select count(boardNum) from review where marketNum = #{marketNum}
	</select>
	

	<select id="boardCount" parameterType="Pager" resultType="Long">
		select count(BoardNum) from review
	</select>

	<select id="baordList" parameterType="Pager" resultMap="reviewResult">
		select A.*,B.nickName,B.email from 
		(select * from
		(select Q.*,rownum R from
		(select * from review
		order by ref desc, step asc) Q)
		where R between 1 and 10)A
		join (select num,nickname,email from member)B
		on(a.membernum = B.num)
	</select>
	
	<select id="boardSeq" resultType="Long">
		select board_seq.nextVal from dual
	</select>
	
	<insert id="boardInsert" parameterType="ReviewVO">
		insert into review values(#{boardNum},#{memberNum},#{marketNum},#{fileName},#{rating},#{contents},sysdate,
		#{boardNum},0,0)
	</insert>
	
	
	<update id="boardReplyUpdate" parameterType="ReviewVO">
		update review set
		step = step+1
		where ref=(select ref from review where boardNum=#{boardNum})
		and step > (select step from review where boardNum=#{boardNum})
		
	</update>
	
	<insert id="boardReply" parameterType="ReviewVO">
		insert into review values(board_seq.nextval,#{memberNum},#{marketNum},#{fileName},#{rating},#{contents},sysdate,
		(select ref from review where boardNum=#{boardNum}),
		(select step from review where boardNum=#{boardNum})+1,
		(select depth from review where boardNum=#{boardNum})+1
		)
	</insert>
	
	<delete id="boardDelete" parameterType="ReviewVO">
		delete from review where boardNum=#{boardNum}
	</delete>
	
	<update id="boardUpdate" parameterType="ReviewVO">
		update review set contents=#{contents},regDate=sysdate where boardNum=#{boardNum}
	</update>
	
</mapper>










