<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.food.project.review.ReviewDAO">

	<select id="baordList" parameterType="Pager" resultType="ReviewVO">
		select * from
		(select Q.*,rownum R from
		(select * from review
		order by ref desc, step asc) Q)
		where R between #{startRow} and #{lastRow}
	</select>
	
	<insert id="boardInsert" parameterType="ReviewVO">
		<selectKey keyProperty="boardNum" order="BEFORE" resultType="Long">
			select board_seq.nextVal from dual
		</selectKey>
		insert into review values(#{boardNum},#{memberNum},#{marketNum},#{imageNum},#{contents},sysdate,0,0,0);
	</insert>
	
</mapper>