a{
	text-decoration: none;
}

.memberLogin_container {
	width: 100%;
}

.memberLogin_article {
	display: block;
	padding: 50px;
	max-width: 400px;
	min-height: 550px;
	margin: 0 auto;
}

.memberLogin_img {
	width: 150px;
	margin: 0 auto;
	display: block;
}

.memberLogin_header {
	padding: 0 0 40px;
	text-align: center;
}

.memberLogin_header p {
	margin: 8px;
	font-size: 14px;
	line-height: 16px;
	color: #6f7174;
}

.memberLogin_input {
	box-sizing: border-box;
	padding: 0 15px;
	height: 38px;
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid #e7e7e7;
	font-size: 15px;
	color: #3d3d3d;
	display: block;
}

.memberLogin_input:focus{
	outline-color: #27b06e;
}

.autologin span:hover {
	color: #27b06e;
}

.memberLogin_button {
	display: block;
	border: none;
	height: 38px;
	width: 100%;
	cursor: pointer;
	text-align: center;
	font-size: 1rem;
	outline: none;
	margin-top: 8px;
	width: 100%;
}

.memberLogin_login {
	color: #ffffff;
	background-color: #27b06e;
}

.memberLogin_kakao {
	color: #222;
	background-color: #f9df33;
}

.memberLogin_a {
	padding: 5px 15px;
	text-align: center;
	font-size: 14px;
	color: #6f7174;
	text-decoration: none;
}

.joinandfind {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}