@charset "UTF-8";

.mkj_container {
	width: 100%;
}

.mkj_article {
	display: block;
	padding: 50px;
	max-width: 400px;
	min-height: 550px;
	margin: 0 auto;
}

.mkj_img {
	width: 150px;
	margin: 0 auto;
	display: block;
}

.mkj_header {
	padding: 0 0 40px;
	text-align: center;
}

.mkj_header p {
	margin: 8px;
	font-size: 14px;
	line-height: 16px;
	color: #6f7174;
}

.mkj_input {
	box-sizing: border-box;
	padding: 0 15px;
	height: 38px;
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid #e7e7e7;
	font-size: 15px;
	color: #3d3d3d;
	display: block;
}

.mkj_input:focus {
	outline-color: #27b06e;
}

.mkj_hr {
	margin: 30px 0;
	border: none;
	height: 1px;
	background-color: #e9e9e9;
}

.mkj_fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

.mkj_fieldset p {
	color: #000000;
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 12px;
}

.mkj_button {
	display: block;
	border: none;
	height: 38px;
	width: 100%;
	cursor: pointer;
	text-align: center;
	font-size: 1rem;
	outline: none;
	margin-top: 8px;
	width: 100%;
	color: #ffffff;
	background-color: #27b06e;
	margin: 32px 0 0 0;
}

.mkj_label {
	display: block;
	height: 30px;
}

.mkj_more {
	color: #27b06e;
	cursor: pointer;
}

.mkj_radio{

}