<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="java.lang.Long" alias="Long"/>
		<typeAlias type="java.util.List" alias="List"/>
		<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.Integer" alias="Integer"/>
		
		<typeAlias type="com.food.project.member.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.food.project.market.MarketVO" alias="MarketVO"/>
		<typeAlias type="com.food.project.fileInfo.FileInfoVO" alias="FileInfoVO"/>
		<typeAlias type="com.food.project.menu.MenuVO" alias="MenuVO"/>
		<typeAlias type="com.food.project.ordered.OrderedVO" alias="OrderedVO"/>
		<typeAlias type="com.food.project.orderOption.OrderOptionVO" alias="OrderOptionVO"/>
	</typeAliases>
</configuration>