<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<link rel="stylesheet" href="../resources/css/member/memberPage.css">
</head>
<body>
	<div class="mp_div">
		<div class="mp_myRecord">
			<div class="mp_myPic">
				<img alt="" src="">
			</div>
			<div class="mp_myProfile">
				<strong>이름</strong> 
				<span>이메일</span>
			</div>
			<div class="mp_myRecords">
				<span>수령 예정</span>
				<em>0</em>
			</div>
			<div class="mp_myRecords">
				<span>총 주문 횟수</span>
				<em>0</em>
			</div>
		</div>
		<div class="mp_myContainer">
			<aside class="mp_aside">
				<h2>마이페이지</h2>
				<ul>
					<li>주문/결제 내역</li>
					<li>나의 후기</li>
					<li>회원 정보 수정</li>
					<li>로그아웃</li>
				</ul>
			</aside>
			<div>
				<article class="mp_article">
					<div>
						<h2>주문/결제 내역</h2>
					</div>
					<div>
						<span>거래표(나중에)</span>
					</div>
				</article>
			</div>
		</div>
	</div>
</body>
</html>